// Body
// $body-bg: #ff0000;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;



    $nav-color: #1876f2;
    $bg-color: #efefef;
    $link-color: #626262;
    $bg-body-color: #fff;
    $toggle-color: #000;
  
  .dark-theme{
    $bg-color: #0a0a0a;
    $nav-color: #000;
    $bg-body-color: #000;
    $toggle-color: #fff;
  
  }