.home {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
  
    &__container{
      flex-basis: 47%;
  
      @media only screen and (max-width:900px) {
        flex-basis: 100%;
    }

    
    .story-gallery{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: .5em;
  
  
        .story{
          flex-basis: 18%;
          position: relative;
          overflow: hidden;
  
          img{
            @media only screen and (max-width:900px) {
              width: 20px;
              border-width: 3px;
          }
          }
  
          .upload{
            width: 2.2em;
            border-radius: 50%;
            position: absolute;
            bottom: 5em;
            left: 2.5em;
            cursor: pointer;
            transition: .4s all ease-in-out;
  
            &:hover{
              box-shadow: 1px 1px 5px #000;
              border-radius: 50%;
            }
          }
  
          p{
            position: relative;
            top: -1.5em;
            text-align: center;
            font-weight: bold;
            color: #fff;
            box-shadow: 0 -2px 20px #000;
  
            @media only screen and (max-width:900px) {
              font-size: 10px;
          }
          }
          
          .profil{
            background-position: center;
            background-size: cover;
            border-radius: 10px;
            width: 5.5em;
            background: linear-gradient(transparent, rgba(0,0,0,0.5));
            width: 100%;
          }
        }
  
        .story.profil .upload{
          top: unset;
          left: 5%;
          bottom: 11rem;
          border: 3px solid #efefef;
        }
      }
  
  @media only screen and (max-width: 900px) {
    .sidebarRight, .sidebarLeft{
      display: none;
    }
  }
}
}