@import "../../../sass/_variables.scss";

.home__container{
  display: flex;
  flex-direction: column;
  flex-basis: 47%;

    @media only screen and (max-width:900px) {
      flex-basis: 100%;
  }


    .write-post-container{
      width: 100%;
      background: $bg-body-color;
      border-radius: 6px;
      padding: 20px;
      color: #626262;

      .user-profile{
        display: flex;
        align-items: center;

        img{
          width: 45px;
          border-radius: 50%;
          margin-top: 10px;
        }

        .user-name{
          margin: .5em .5em;
          font-weight: 500;
          color: #626262;
         
          p{
            margin-bottom: 5px;
          }
        }
      }

      .post-input-container{

        padding: 20px 0 0 55px;

        @media only screen and (max-width:900px) {
          padding-left: 0;
       }

        textarea{
          width: 100%;
          resize: none;
          border: none;
          border-bottom: 1px solid #ccc;
          background: transparent;
        }

        .add-post-links{
          display: flex;
          margin-top: 10px;
          gap: 1.2em;

          @media only screen and (max-width:900px) {
           flex-wrap: wrap;
        }

        label {
          cursor: pointer;
          img{
            width: 20px;
            margin-right: 6px;
          }
        }

          a{
            display: flex;
            align-items: center;
            color: #626262;
            margin-right: 30px;
            font-size: 13px;

            @media only screen and (max-width:900px) {
              margin-right: 12px;
              font-size: 9px;
           }

            img{
              width: 20px;
              margin-right: 6px;

              @media only screen and (max-width:900px) {
                width: 16px;
                margin-right: 5px;
            }
            }
          }
        }
      }
    }


}