@import "../../../sass/_variables.scss";

.sidebarRight{
    background:  $bg-body-color;
    flex-basis: 45%;
    position: sticky;
    align-self: flex-start;
    padding: .8em;
    border-radius: 4px;
    top: 1px;
    margin-left: 1em;

  

    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;

        h4{
            font-weight: bold;
            font-size: 1.2em;
            color: $toggle-color;
        }

        a{
            color:  $nav-color;
            font-size: 1em;
        }
    }

    .event{
        display: flex;
        margin-bottom: 20px;

        a, p{
            font-size: 12px;
            text-transform: capitalize;
            margin-bottom: -.3rem;
        }

        a{
            color:  $nav-color;
        }

        &__left{
            border-radius: 10px;
            height: 65px;
            width: 65px;
            margin-right: 15px;
            padding-top: 10px;
            text-align: center;
            position: relative;
            overflow: hidden;
            border: 1px solid $toggle-color;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);

            h3{
                font-size: 14px;
                font-weight: bold;
            }

            span{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: $nav-color;
                color: $toggle-color;
                font-size: 10px;
                padding: 4px 0;
                font-weight: bold;
            }
        }

        &__right{

            h4{
                font-size: 15px;
                margin-bottom: .2rem;
            }
        }

       
    }
    .sidebar-ads{
        width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .online-list{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        gap: .6em;

        .online{
            position: relative;

            &::after{
             content: '';
             background-color: green;
             width: .6em;
             height: .6em;
             position: absolute;
             top: unset;
             bottom: .3em;
             border-radius: 50%;
             border: 2px solid #fff;
             left: 2.3em;
            }

            img{
                width: 40px;
                border-radius: 50%;
             }
         }

    }

    
  @media only screen and (max-width: 900px) {
      display: none;
    
  }
}